# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 编译配置
*.txt.user
*.pro.user
src/*/.vs/
src/*/*/.vs/
src/*/*/*/.vs/
src/*/out/
src/*/*/out/
src/*/*/*/out/
